
.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0a0a0a;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #da5fff, #fe7bc7, rgb(255, 115, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #ff5722, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Mobile Dropdown Styling */
.navbar-collapse {
  position: absolute;
  /* Position the dropdown absolutely */
  right: 0;
  /* Align to the right edge of the screen */
  top: 100%;
  /* Position below the navbar */
  background-color: #f8f9fa;
  /* Light background for dropdown */
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  width: 200px;
  /* Set a fixed width for the dropdown */
  z-index: 1000;
  /* Ensure it appears above other content */
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-in-out;
  color: #0a0a0a;
}

.navbar-nav .nav-link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #007bff;
  border-radius: 4px;
    font-size: 16px;
  box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.3);
  transform: scale(1.05);
}


/* Logout and Profile Settings in Mobile View */
.navbar-nav .btn-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.navbar-nav .btn-link:hover {
  background-color: #e9ecef;
}

.profile-icon {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #6c757d;
  transition: all 0.3s ease-in-out;
}

.profile-icon:hover {
  transform: scale(1.1);
}